<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 flex-between">
            <div>
                <h1>All Categories</h1>
            </div>
            <div class="btn-align">
            <button [routerLink]="['/categories/create-categories']" class="btn btn-dark m-0">Create Category</button>
            </div>
        </div>
    </div>
    <div class="row mt-3 design">
        <table class="table align-middle mb-0 bg-white">
            <thead>
                  <tr>
                    <th>Category Name</th>
                    <th>Description</th>
                    <th class="text-end">Manage Categories</th>
                  </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of categoryList">
                    <td>
                        {{item.categoryname}}
                    </td>
                    <td>
                        {{item.description}}
                    </td>
                    <td class="text-end">
                        <a [routerLink]="['/categories/update-categories', item.id]" [queryParams]="{ categoryId: item.id }">
                            <i class="fa fa-pencil green p-2 pointer"></i>
                        </a>
                        <a [routerLink]="['/categories/category-details', item.id]" [queryParams]="{ categoryId: item.id }">
                            <i class="fa fa-eye green p-2 pointer"></i>
                        </a>
                        <i class="fa fa-trash text-danger p-2 pointer" (click)="deleteCategory(item)"></i>
                    </td>
                </tr>
            </tbody>
        </table>   
    </div>
</div>
<div *ngIf="deleteCategoryModal" class="delete-modal-container">
    <div class="delete-modal">
        <div class="delete-modal-header">
            <h3 class="delete-modal-header-title">Delete Category</h3>
        </div>
        <div class="delete-modal-content">
            <p>Are you sure you want to delete <b>{{clickedCategoryData.categoryname}}</b> category?</p>
        </div>
        <div class="delete-modal-footer">
            <button type="button" class="delete-button bg-danger" (click)="deleteCategoryFromTable(clickedCategoryData.id)">Delete</button>
            <button type="button" class="create-new-button" (click)="closeDeleteCategoryModal()">Cancel</button>
        </div>
    </div>
    <div class="modal-overlay" (click)="closeDeleteCategoryModal()"></div>
</div>



